@page
@model CatalogsManager.Pages.Catalogs.CatalogCreateModel
@inject IViewLocalizer Localizer

<h1 class="cmn-h_1">@Localizer["PageDescription"]</h1>

<form method="post">
    <div class="form-group">
        <label class="cmn-lbl-description_input">@Localizer["Kind"]</label>
        <input class="form-control" asp-for="Catalog.Kind" />
        <span asp-validation-for="Catalog.Kind" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-info cmn-btn-action">@Localizer["Create"]</button>
</form>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}