@using Microsoft.AspNetCore.Builder;
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Localization 
@using Microsoft.Extensions.Options;

@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocalizationOptions

@{ 
    var culture = Context.Features.Get<IRequestCultureFeature>();
    var supportedCultures = LocalizationOptions.Value.SupportedUICultures
        .Select(cultureInfo => new SelectListItem
        {
            Value = cultureInfo.Name,
            Text = cultureInfo.Name,
        })
        .ToList();
    var returnUrl = string.IsNullOrWhiteSpace(Context.Request.Path) ? "~/" :
        $"{Context.Request.Path.Value}{Context.Request.QueryString}";
}

<div>
    <form method="post" asp-page="/Index", asp-page-handler="ChangeLocalization" asp-route-returnUrl="@returnUrl">
        <select name="culture" 
                asp-for="@culture.RequestCulture.UICulture.Name" 
                asp-items="@supportedCultures" 
                onchange="this.form.submit();">
        </select>
    </form>
</div>